# Gradle
.gradle/
build/
**/build/

# Local config
local.properties
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Kotlin/Java
*.class
*.jar
*.war
*.apk

# Logs
*.log

# Android Studio
.cxx/
captures/
.externalNativeBuild/

# Jetpack Compose previews
*.preview.cache
